* {
    margin: 0;
	padding: 0;
}

/* LAYOUT */
#main {
	width: 600px;
	margin: auto;
}

/* TYPOGRAPHY */
#main {
	font-family: 'Athelas', 'Georgia', serif;
	font-size: 15pt;
	line-height: 1.4em;
	text-align: justify;			    			
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
h1, h2, h3 {
	text-align: left;
}
h1 {
	font-size: 38pt;
}
h2 {
	font-size: 28pt;
	border-bottom: 1px solid;
	line-height: 1.1em;
}
h3 {
	font-size: 22pt;
}
a {
	text-decoration: none;
}
#navigation p {
	font-size: 22pt;
}

#description p {
	font-size: 12pt;
	line-height: 1.2em;
}

/* COLORS */
h1 a {
	color: rgb(75, 86, 96);
}
h1 a:hover {
	color: rgb(87, 107, 117);
}
h2 {
	border-bottom-color: rgb(223, 224, 225);
}
h2 a {
	color: rgb(86, 155, 91);
}
h2 a:hover {
	color: rgb(52, 156, 86);
}
p a {
	color: rgb(135, 55, 28);
}
p a:hover {
	color: rgb(167, 98, 75);
}
.info {
	color: rgb(172, 172, 172);
}
.info a {
	color: rgb(132, 155, 156);
}
.info a:hover {
	color: rgb(172, 172, 172);
}
p {
	color: rgb(61, 61, 61);
}
blockquote p {
	color: rgb(29, 29, 29);
}
img {
	border-color: rgb(0, 0, 0);
}
strong {
	color:  rgb(31, 69, 89);
}
#tags a {
	color:	rgb(31, 69, 89);
}

/* MARGINS & PADDINGS */
#main {
	margin-top: 30px;
	margin-bottom: 20px;
}
h1 {
	margin-bottom: 30px;
}
#description {
	margin-bottom: 50px;
}
h2 {
	margin-bottom: 30px;
	padding-bottom: 6px;
}
h3 {
	margin-bottom: 18px;
}
.post {
	margin-bottom: 60px;
}
p {
	margin-top: 6px;
	margin-bottom: 6px;
}
ol, ul {
	margin-bottom: 10px;
	margin-left: 30px;
}
blockquote {
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
blockquote p {
	margin-top:  6px;
	margin-bottom: 6px;
}
.info {
	margin-top: 30px;
}
#navigation {
	margin-bottom: 30px;
}

/* IMAGES, LISTS, BLOCKQUOTES */
img {
	max-width: 600px;
	border: 1px solid;
}

/* TAGS */
.set-1 {
	font-size: 16px;
}
.set-2 {
	font-size: 18px;
}
.set-3 {
	font-size: 20px;
}
.set-4 {
	font-size: 22px;
}
.set-5 {
	font-size: 24px;
}