<span class="date">
{% if post.date %}
{% assign proper_date = post.date %}
{% elsif page.date %}
{% assign proper_date = page.date %}
{% endif %}

{{ proper_date | date: "%d" }}
{% assign proper_month = proper_date | date: "%m" %}
{% case proper_month %}
	{% when '01' %}I
	{% when '02' %}II
	{% when '03' %}II
	{% when '04' %}IV
	{% when '05' %}V
	{% when '06' %}VI
	{% when '07' %}VII
	{% when '08' %}VIII
	{% when '09' %}IX
	{% when '10' %}X
	{% when '11' %}XI
	{% when '12' %}XII
{% endcase %}
{{ proper_date | date: "%Y" }}

</span>