<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    	<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/basic.css" />
		<style type="text/css" media="handheld">
		#main { width: 100%; }
		</style>
		<meta charset="utf-8" />
	</head>
	<body>
<div id="main">

<h1><a href="{{ site.url }}">Nowe Ateny</a></h1>

{{ content }}

</div>
	
</body>
</html>